*{
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
body{
  margin: 2rem 0 0 0;
  background-color: #7a3c74;
}

h1 {
  font-size: 2.5rem;
  color: #5e4357;
  text-align: center;
  margin-top: 2rem;
  border-bottom: 2px solid #7a3c74;
  padding-bottom: 1.8rem;
}

h2{
font-size: 1.8;
margin: 2.5rem 0 1.5rem 0;
}

p, li {
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 1px;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #fffdfb;
  padding: 0 1.2rem 1.2rem 1.2rem;
  border: 1px solid rgb(26, 25, 25);
}
.resultado{
  border-left: 4px solid #7a3c74;
  padding: 0.8rem;
  box-shadow: 10px 10px 9px -4px rgb(202, 201, 202);
  margin: 3rem;
  background-color: #ebebeb;
}
footer{
  display: flex;
  justify-content: space-between;
}
